src/main/mule/REST-WS-Employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="aae96f40-a951-488a-b2d1-0d8783abe0fd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="3f07a345-dcac-4867-b133-d3ece4f21416" >
		<http:request-connection host="dummy.restapiexample.com" />
	</http:request-config>
	<flow name="GET-Employee" doc:id="e64a0a4f-fb9f-409b-9efd-a156eeffe207" >
		<http:listener doc:name="getEmployee" doc:id="20f7aad4-1046-4b37-9d42-1be1fcb75a13" path="/getEmployee" config-ref="HTTP_Listener_config"/>
		<http:request method="GET" doc:name="Request" doc:id="88f08e32-e3a9-419a-869a-9062a2c06e95" config-ref="HTTP_Request_configuration" path="/api/v1/employees"/>
		<logger level="INFO" doc:name="Logger" doc:id="4197b5e5-447c-4977-874a-b80f9f4c2cea" message="#[payload]"/>
	</flow>
	<flow name="POST-Employee" doc:id="5904b277-872d-4f27-84d8-640c66811d77" >
		<http:listener doc:name="addEmployee" doc:id="6e191121-4628-420a-a12c-32e068b8b0a6" config-ref="HTTP_Listener_config" path="/addEmployee"/>
		<http:request method="GET" doc:name="Request" doc:id="749f1955-01f1-4d67-88d9-850d56b955f9" config-ref="HTTP_Request_configuration" path="/api/v1/create"/>
		<logger level="INFO" doc:name="Logger" doc:id="e52374f2-a2d2-4859-a40a-adf6c455d2f5" message='#["Employee Added"]'/>
	</flow>
	<flow name="GET-getEmployeeByID" doc:id="01140765-245c-4580-b23c-135bfbc8e60d" >
		<http:listener doc:name="getEmployeeByID" doc:id="9da16e88-a784-489a-bbfb-f8ff3a60dc82" config-ref="HTTP_Listener_config" path="/getEmployeeByID"/>
	</flow>
</mule>
